*
    box-sizing: border-box

@font-face
    font-family: 'alegreya'
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'), url('./fonts/alegreyasanssc-black-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

$black: #1b1b1b
$yellow: #ffc92f
$red: #d82727
$titlesfont: 'Yanone Kaffeesatz', Arial, sans-serif
@mixin title
    font-family: $titlesfont
    text-transform: uppercase
    color:  $black
    font-weight: bold

// html
//     height: 100%
body
    // height: 100%
    font: 16px / 1.42 "Roboto", Arial, sans-serif
    color: #212121
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: #fcf5e6
.wrapper
    overflow: hidden
    min-width: 1310px
.container
    width: 1300px
    margin: 0 auto

.hero
    height: 100vh
    min-height: 650px
    background: url('../img/bg/hero.jpg') center center / cover no-repeat
    position: relative
    margin-bottom: 130px
.header
    width: 1290px
    margin: 0 auto
    padding-top: 27px
    display: flex
    justify-content: space-between
    align-content: center
.mail
    text-decoration: none
    color: inherit
    text-align: center
    &__title
        margin-bottom: 3px
    &__content
        background: #212121
        padding: 5px 16px
        color: $yellow
.hero-content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1140px
    height: 72%
.fade-slider
    width: 100%
    height: 100%
    &__item
        background: url('../img/content/hero/slider_pic_1.png') center center / contain no-repeat
        height: 100%
    &__text
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-164%,-52%)
.lined-text
    font-family: "alegreya", Arial, sans-serif
    color: #fff
    font-size: 63px
    font-weight: bold
    text-transform: uppercase
    line-height: 1
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 0
    &__word
        background: $black
        padding: 0 17px 8px
        margin-top: -7px
        &_yellow
            color: $yellow
        &:nth-child(2n)
            margin-left: 8px

.products
    margin-bottom: 150px
    &__list
        display: flex
        flex-wrap: wrap
        margin-right: -27px
    &__item
        width: 302px
        height: 386px
        background: $yellow
        margin-bottom: 35px
        margin-right: 27px
        position: relative
        &:hover
            .products__desc
                transform: translateY(0%)
        &_color-black
            background: #232323
            .products__price
                border-bottom-color: $yellow
            .products__price-amount
                color: $black
        &_size-double
            width: 630px
            height: 544px
    &__content
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        position: relative
        overflow: hidden
    &__img
        display: block
        width: 80%
        height: 70%
    &__desc
        position: absolute
        bottom: 0
        left: 0
        right: 0
        padding: 23px 30px
        background: rgba(35,35 ,35 ,0.8)
        color: #fff
        font-size: 15px
        display: flex
        flex-direction: column
        align-items: center
        transform: translateY(100%)
        transition: transform .3s
    &__desc-text
        text-align: center
        margin-bottom: 18px
    &__price
        position: absolute
        top: 18px
        left: -6px
        width: 126px
        border-bottom: 45px solid #232323
        border-left: 5px solid transparent
        border-right: 2px solid transparent
        transform: rotate(-181deg)
    &__price-amount
        transform: rotate(181deg)
        font-weight: bold
        font-size: 30px
        font-family: $titlesfont
        color: #fff
        position: absolute
        top: 2px
        right: 28px
.btn
    display: inline-block
    padding: 2px 30px
    text-decoration: none
    background: $black
    color: $yellow
    font-size: 24px
    font-weight: bold
    font-family: $titlesfont
    text-transform: uppercase
    &:hover
        background: $red
        color: #fff

.filter
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 100px
    &__item
        margin-right: 40px
        &:last-child
            margin-right: 0
        &_active
            .filter__link
                color: $yellow
                background: $black
    &__link
        @include title
        display: inline-block
        padding: 3px 21px
        font-size: 24px
        text-decoration: none
        
        &:hover
            color: $red
.collections
    margin-bottom: 135px
    &__list
        display: flex
    &__item
        min-height: 472px
        flex: 1
        overflow: hidden
        background: url('../img/bg/pattern.png') center center/500px
        position: relative
        margin-right: 30px
        &:last-child
            margin-right: 0
        &:before
            content: ""
            display: block
            position: absolute
            height: 176%
            width: 60%
            background: center center/contain no-repeat
            top: -17%
            left: -18%
        &_type-man:before
            background-image: url('../img/collections/collection_man.png')
        &_type-woman:before
            background-image: url('../img/collections/collection_woman.png')
            width: 80%
            top: -31%
            left: -25%
    &__link
        display: block
        padding: 74px 13% 74px 44%
        text-decoration: none
        color: inherit
        font-size: 15px
        position: relative
        height: 100%
        &:hover
            .btn
                color: #fff
                background: $red
    &__title
        font-size: 70px
        font-weight: bold
        line-height: 1
        text-transform: uppercase
        // margin-top: 0
        margin-bottom: 11px
        font-family: $titlesfont
    &__desc
        margin-bottom: 28px
.footer
    margin-bottom: 117px
    &__container
        width: 1105px
.site-menu
    margin-bottom: 125px
    &__sections
        display: flex
        justify-content: space-between
    &__col
        margin-right: 20px
        &:last-child
            margin-right: 0
    &__title
        @include title
        font-size: 24px
        margin-bottom: 30px
    &__item
        margin-bottom: 15px
    &__link
        text-decoration: none
        font-size: 15px
        color: #737373
        &:hover
            color: $red
    &__text
        font-size: 15px
        color: $black
        margin-bottom: 30px
    &__text-row
        color: $black
        text-decoration: none
        display: block
        margin-bottom: 5px
.extras
    margin-bottom: 95px
    display: flex
    &__col
        margin-right: 25px
        &:last-child
            margin-right: 0
        flex: 1
    &__best
        font-size: 50px
        text-align: center
        @include title
        color: #fff
        display: block
        background: #232323
        padding: 39px 10%
        text-decoration: none
        line-height: 1
    &__col-socials
        height: 100%
        background: url('../img/bg/pattern.png') center center/500px
        display: flex
        justify-content: center
        align-items: center 
.socials
    display: flex
    &__item
        margin-right: 50px
        &:last-child
            margin-right: 0
    &__link
        height: 38px
        width: 38px
        display: block
        &:hover
            .socials__icon
                fill: $red
    &__icon
        width: 100%
        height: 100%

